*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333;
    padding: 10px 20px;
}
.container a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.container a:hover {
    background-color: #af4c12;
    border-radius: 5px;   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0,2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
  border-radius: 5px;   
}

.dropdown:hover .dropdown-content {
    display: block;
}